<div class="jumbotron jumbotron-fluid">
    <div style="text-align:center">
        <h1>
            Welcome to Dentista
        </h1>
        <ngb-carousel>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../assets/img/t1.png" alt="first slide">
              </div>
              <div class="carousel-caption">
                <h6>Preventative Dentistary</h6>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../assets/img/t2.png" alt="second slide">
              </div>
              <div class="carousel-caption">
                <h6>Dental Restoration</h6>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../assets/img/t3.png" alt="third slide">
              </div>
              <div class="carousel-caption">
                <h6>Cavity Fillings</h6>
              </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="../assets/img/t4.png" alt="fourth slide" >
                </div>
                <div class="carousel-caption">
                  <h6>Cosmetics</h6>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="../assets/img/t5.png" alt="fifth slide" >
                  </div>
                  <div class="carousel-caption">
                    <h6>Book Now</h6>
                  </div>
                </ng-template>
          </ngb-carousel>
    </div>
</div>

  