<div class="jumbotron ">
    <div class="conrainer text-align:center">
        <div class="row justify-content-center">
            <div class="card text-center" style="width: 40rem;">
                <img src="../assets/img/dentist.jpg" class="card-img-top" alt="Dr.Morgan">
                <div class="card-body">
                    <p class="card-text">Dr Morgan El Morgany , Graduated From Faculty of Dentistry Morgan University.<br>
                        He has more than 500 patients per year.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>