<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink='/home' routerLinkActive="router-link-active" href="#">DENTISTA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink='/home' routerLinkActive="active current"  href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/aboutus' routerLinkActive="active current" href="#">About Us</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#">Register/Signin</a>
        </li>-->
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Book An Appointment
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink='/register' routerLinkActive="active current" href="#">Register</a>
            <a class="dropdown-item" routerLink='/signin' routerLinkActive="active current"   href="#">Signin</a>
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          </div>
        </li>
      </ul>
    </div>
  </nav>